*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --board-size: 700px;
    --cell-size: calc(var(--board-size) / 9);;
    --stone-size: calc(var(--cell-size) *.95);
    --star-point-size: calc(var(--cell-size) *.2);
    --background-size:  800px;
}

body {
    margin: 0;
}

#background {
    width: var(--background-size);
    height: var(--background-size);
    display: flexbox;
    background-color: blanchedalmond;
    outline: 2px solid black;
    position: absolute;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: absolute;
    margin: auto;
}

.squares {
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(9, auto);
    position: absolute;
}

.intersections {
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(8, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
    border: 1px solid black;
    outline: 2px solid black;
    position: relative;
}

.squares.black .cell:not(.black):not(.white):hover,
.squares.white .cell:not(.black):not(.white):hover {
    opacity: .5;
}

.cell.star-point {
    width: var(--star-point-size);
    height: var(--star-point-size);
    border-radius: 50%;
    background-color: black;
}


.cell.black,
.squares.black .cell:not(.black):not(.white):hover {
    width: var(--stone-size);
    height: var(--stone-size);
    background-size: 100%;
    background-image: url('/images/black_stone.svg');
}

.cell.white,
.squares.white .cell:not(.black):not(.white):hover {
    width: var(--stone-size);
    height: var(--stone-size);
    background-color: transparent;
    background-size: 100%;
    background-image: url('/images/white_stone.svg');
}

.cell.white.previous {
    background-image: url('/images/white_stone_previous.svg');
}

.cell.black.previous {
    background-image: url('/images/black_stone_previous.svg');
}